{% extends 'base.html' %} {% block content %}
<h1 class="title">Register Equipment Card</h1>
<form method="POST" action="{{ url_for('cards.save_equipment') }}">
  {{ form.hidden_tag() }}
  <div class="field">
    {{ form.name.label(for='name') }}
    <div class="control">{{ form.name(class="input") }}</div>
  </div>
  <div class="field">
    {{ form.gnosis.label(for='gnosis') }}
    <div class="control">{{ form.gnosis(class="input") }}</div>
  </div>
  <div class="field">
    {{ form.requires.label(for='requires') }}
    <div class="control">{{ form.requires(class="input") }}</div>
  </div>
  <div class="field">
    {{ form.text.label(for='text') }}
    <div class="control">{{ form.text(class="textarea") }}</div>
  </div>
  <div class="field">{{ form.submit(class='button')}}</div>
</form>
{% endblock %}
